<!DOCTYPE html>
<html>
    <head>
        <title>props数据单向绑定</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            table{width: 300px;margin-top: 20px;border-collapse: collapse;border: solid 1px #999;}
            th,td{border-collapse: collapse;border:solid 1px #999;}
            table thead{background-color: green;}
        </style>
    </head>
    <body>
        <h3>数据单向绑定</h3>
        <div id="app">
            <div id="searchBar">
                Search <input type="text" v-model="searchQuery" />
            </div>
            <grid v-bind:data="gridData" v-bind:columns="gridColumns" v-bind:filter-key="searchQuery"></grid>
        </div>

        <template id="grid-temp">
            <table>
                <thead>
                    <tr>
                        <th v-for="col in columns">
                            {{ col | capitalize}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="entry in data | filterBy filterKey">
                        <td v-for="col in columns">
                            {{entry[col]}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </template>

        <script src="../js/libs/vue.js"></script>
        <script src="../js/apps/demo1.4.js"></script>
    </body>
</html>
