<!DOCTYPE html>
<html>
    <head>
        <title>props数据单向绑定</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h3>子组件访问父组件中的数据</h3>
        <div id="parent">
            <parent></parent>
        </div>

        <template id="parent_temp">
            <!--2.子组件绑定props属性-->
            <child v-bind:pro-edit="edit" v-bind:pro-delete="delete"></child>
        </template>

        <template id="child_temp">
            <!--3.在子组件中使用props属性-->
            <ul v-for="item in items">
                <li>{{item.name}}:<a id="edit" href="#">{{proEdit}}</a>,<a id="delete" href="#">{{proDelete}}</a></li>
            </ul>
        </template>
        
        <script src="../js/libs/vue.js"></script>
        <script src="../js/apps/demo1.3.js"></script>
    </body>
</html>
